<div>
    <h1>String reverser</h1>
    <form>
        <label for="inputstring">Wpisz swój napis:</label><br>
        <input type="text" id="inputstring" name="inputstring"><br>
        <input type="submit" value="Odwróć">
    </form>
    <div id="result">
        @ViewData["result"]
    </div>
</div>